@import "../../../common/team/team.component.scss";


.single-team{
    height:100%;
    width:100%;
    margin-top:5px

}
h3{
    font-size: 14px !important;
}
.no-wrap{
    flex-wrap: wrap !important;
}
