<app-multipage-navbar></app-multipage-navbar>

<!-- Page Title -->
<div class="page-banner-area" style="background-image: url(assets/images/page-banner-bg.jpg);">
    <div class="container">
        <div class="page-banner-content">
            <ul>
                <li>
                    <a routerLink="/">
                        HOME
                    </a>
                </li>
                <li>
                    <span>TEAM</span>
                </li>
            </ul>
            <h2>Team</h2>
            <img src="assets/images/page-star.png" class="star" alt="star">
        </div>
    </div>
    <img src="assets/images/banner/banner-shape-1.png" class="shape shape-1" alt="shape">
    <img src="assets/images/banner/banner-shape-2.png" class="shape shape-2" alt="shape">
</div>

<!-- Team -->
<div class="team-area pt-120 pb-90">
    <div class="container">
        <div class="section-title">
            <span class="top-title">TEAM MEMBERS</span>
            <h2>Meet The Team Behind The Scene</h2>
        </div>
        <div class="row justify-content-center no-wrap">
            <div class="col-lg-3 p-2 col-6 col-md-4">
                <div class="single-team">
                    <img src="assets/images/team/team-1.png" alt="team-image">
                    <h3>Tugrul Yigitoglu</h3>
                    <p>Partner & Founder</p>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/ADPLLLP/" target="_blank">
                                <i class="ri-facebook-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/Accounting_dp" target="_blank">
                                <i class="ri-twitter-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/adplllp/" target="_blank">
                                <i class="ri-instagram-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/adplllp/mycompany/" target="_blank">
                                <i class="ri-linkedin-fill"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-6 p-2 col-md-4">
                <div class="single-team">
                    <img src="assets/images/team/team-5.png" alt="team-image">
                    <h3>Mehmet Gazioglu</h3>
                    <p>Partner</p>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/ADPLLLP/" target="_blank">
                                <i class="ri-facebook-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/Accounting_dp" target="_blank">
                                <i class="ri-twitter-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/adplllp/" target="_blank">
                                <i class="ri-instagram-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://linkedin.com/in/mehmet-gazioglu-fcca-88540237" target="_blank">
                                <i class="ri-linkedin-fill"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-6 p-2 col-md-4">
                <div class="single-team">
                    <img src="assets/images/team/team-6.png" alt="team-image">
                    <h3>Enver Kannur</h3>
                    <p>Partner</p>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/ADPLLLP/" target="_blank">
                                <i class="ri-facebook-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/Accounting_dp" target="_blank">
                                <i class="ri-twitter-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/adplllp/" target="_blank">
                                <i class="ri-instagram-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://linkedin.com/in/enver-kannur-b182736" target="_blank">
                                <i class="ri-linkedin-fill"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-6 p-2 col-md-4">
                <div class="single-team">
                    <img src="assets/images/team/team-4.png" alt="team-image">
                    <h3>Ronak Patel</h3>
                    <p>Partner</p>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/ADPLLLP/" target="_blank">
                                <i class="ri-facebook-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/Accounting_dp" target="_blank">
                                <i class="ri-twitter-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/adplllp/" target="_blank">
                                <i class="ri-instagram-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://linkedin.com/in/ronak-patel-21465b3a" target="_blank">
                                <i class="ri-linkedin-fill"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-6 p-2 col-md-4">
                <div class="single-team">
                    <img src="assets/images/team/team-7.png" alt="team-image">
                    <h3>Ali Sener</h3>
                    <p>Associate Partner</p>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/ADPLLLP/" target="_blank">
                                <i class="ri-facebook-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/Accounting_dp" target="_blank">
                                <i class="ri-twitter-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/adplllp/" target="_blank">
                                <i class="ri-instagram-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="" target="_blank">
                                <i class="ri-linkedin-fill"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-6 p-2 col-md-4">
                <div class="single-team">
                    <img src="assets/images/team/team-8.png" alt="team-image">
                    <h3>Danish Khan</h3>
                    <p>Associate Partner</p>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/ADPLLLP/" target="_blank">
                                <i class="ri-facebook-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/Accounting_dp" target="_blank">
                                <i class="ri-twitter-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/adplllp/" target="_blank">
                                <i class="ri-instagram-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://linkedin.com/in/danish-khan-553664a" target="_blank">
                                <i class="ri-linkedin-fill"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-6 p-2 col-md-4">
                <div class="single-team">
                    <img src="assets/images/team/team-2.png" alt="team-image">
                    <h3>Sami Habbaba</h3>
                    <p >Software Engineer</p>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/ADPLLLP/" target="_blank">
                                <i class="ri-facebook-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/Accounting_dp" target="_blank">
                                <i class="ri-twitter-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/adplllp/" target="_blank">
                                <i class="ri-instagram-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/sami-habbaba-9538b4217/" target="_blank">
                                <i class="ri-linkedin-fill"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-6 p-2 col-md-4">
                <div class="single-team">
                    <img src="assets/images/team/team-3.png" alt="team-image">
                    <h3>Salih Topel Kaymakamoglu </h3>
                    <p>Assistant Software Engineer</p>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/ADPLLLP/" target="_blank">
                                <i class="ri-facebook-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/Accounting_dp" target="_blank">
                                <i class="ri-twitter-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/adplllp/" target="_blank">
                                <i class="ri-instagram-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/salih-kaymakamo%C4%9Flu-16309a235/" target="_blank">
                                <i class="ri-linkedin-fill"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
    </div>
</div>
