<div
    id="about"
    class="about-area bg-170f32 pt-120"
    [ngClass]="{'style-two pb-120': router.url === '/index-2' || router.url === '/index-5' || router.url === '/dex-offering' || router.url === '/land-selling-platform'}"
>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="about-image style-bottom">
                    <img src="assets/images/about-img.png" alt="abotu-image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <span class="top-title">ABOUT US</span>
                    <h2>ADPL-META Will Be The Best Choice For Your Next Meeting.</h2>
                    <p>ADPL-META Will be the virtual meeting spot for businesses. Remote users can interact with an environment's whole spatial context, allowing more efficient teamwork with on-site personnel.</p>
                    <p>Our virtual inspection platform is unique and unmatched by traditional videoconferencing in terms of accessibility and quality.</p>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/ADPLLLP/" target="_blank">
                                <img src="assets/images/icon/icon-8.svg" alt="facebook">
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/Accounting_dp" target="_blank">
                                <img src="assets/images/icon/icon-9.svg" alt="twitter">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCNJWreWlLJU5QsluwiQAxjQ" target="_blank">
                                <img src="assets/images/icon/icon-10.svg" alt="youtube">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/adplllp/mycompany/" target="_blank">
                                <img src="assets/images/icon/icon-11.svg" alt="linkedin">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/adplllp/" target="_blank">
                                <img src="assets/images/icon/instagram.svg" alt="instagram">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
