<div class="banner-area" style="background-image: url(assets/images/banner/banner-bg-5.png);">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-12">
                <div class="banner-content">
                    <span class="top-title">Book a meeting now on Metaverse!</span>
                    <h1>Virtual Reality Meetings Like Never Before.</h1>
                    <p>Meet, manage, monitor and collaborate on-site from anywhere.</p>
                    <a routerLink="/contact-us" class="default-btn btn-active letter-spacing">BOOK A MEETING</a>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="banner-image">
                    <img src="assets/images/banner/banner-img-5.png" alt="banner-image">
                </div>
            </div>
        </div>
    </div>
    <img src="assets/images/banner/banner-shape-11.png" class="shape shape-1" alt="shape">
    <img src="assets/images/banner/banner-shape-12.png" class="shape shape-2" alt="shape">
    <img src="assets/images/banner/earth.gif" class="shape earth" alt="shape">
</div>
