<app-multipage-navbar></app-multipage-navbar>

<!-- Page Title -->
<div
    class="page-banner-area"
    style="background-image: url(assets/images/page-banner-bg.jpg)"
>
    <div class="container">
        <div class="page-banner-content">
            <ul>
                <li>
                    <a routerLink="/"> HOME </a>
                </li>
                <li>
                    <span>CONTACT US</span>
                </li>
            </ul>
            <h2>Contact Us</h2>
            <img src="assets/images/page-star.png" class="star" alt="star" />
        </div>
    </div>
    <img
        src="assets/images/banner/banner-shape-1.png"
        class="shape shape-1"
        alt="shape"
    />
    <img
        src="assets/images/banner/banner-shape-2.png"
        class="shape shape-2"
        alt="shape"
    />
</div>

<!-- Contact Info -->
<div class="contact-info-area pt-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-12">
                <div class="info-content">
                    <h3>Contacts Info</h3>
                    <ul>
                        <li>
                            <span>Address:</span>
                            50 Long Acre,London WC2E 9JR
                        </li>
                        <li>
                            <span>Phone:</span>
                            <a href="tel:+44(208)-886-9222"
                                >+44(208) 886 9222</a
                            >
                        </li>
                        <li>
                            <span>Email:</span>
                            <a href="mailto:admin@adplmeta.com"
                                >admin@adplmeta.com</a
                            >
                        </li>
                        <li>
                            <span>Time:</span>
                            9:00 - 17:30
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-md-12">
                <div class="maps">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.994111990637!2d-0.1259413836965876!3d51.5133240180902!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604cc9dd94fe5%3A0xe45f9921730b1c84!2s50%20Long%20Acre%2C%20London%20WC2E%209JR%2C%20Birle%C5%9Fik%20Krall%C4%B1k!5e0!3m2!1str!2s!4v1661434345946!5m2!1str!2s"
                    ></iframe>
                    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d49345.57033904692!2d-74.52458123690823!3d39.37665521359071!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c0dd576e5cc721%3A0x4a6fcb43e9675262!2sAtlantic%20City%2C%20NJ%2C%20USA!5e0!3m2!1sen!2sbd!4v1647240741116!5m2!1sen!2sbd"></iframe> -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact -->
<div class="contact-area ptb-120">
    <div class="container">
        <div class="section-title">
            <span class="top-title">CONTACT US</span>
            <h2>Get in Touch</h2>
        </div>
        <div class="contact-form">
            <form>
                <div class="row" [formGroup]="form">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Full Name</label>
                            <input
                                [ngClass]="{
                                    error:
                                        !formValid &&
                                        !form.get('fullName')?.value
                                }"
                                formControlName="fullName"
                                type="text"
                                name="name"
                                id="name"
                                class="form-control"
                                required
                                placeholder="Name"
                            />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Email</label>
                            <input
                                [ngClass]="{
                                    error:
                                        !formValid &&
                                        (form.get('email')?.hasError('email') ||
                                            !form.get('email')?.value)
                                }"
                                formControlName="email"
                                type="email"
                                name="email"
                                id="email"
                                class="form-control"
                                required
                                placeholder="example@gmail.com"
                            />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Phone</label>
                            <input
                                [ngClass]="{
                                    error:
                                        !formValid && !form.get('phone')?.value
                                }"
                                formControlName="phone"
                                type="text"
                                name="phone_number"
                                id="phone_number"
                                required
                                class="form-control"
                                placeholder="+44(208) 886 9222"
                            />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Subject</label>
                            <input
                                [ngClass]="{
                                    error:
                                        !formValid &&
                                        !form.get('subject')?.value
                                }"
                                formControlName="subject"
                                type="text"
                                name="msg_subject"
                                id="msg_subject"
                                class="form-control"
                                required
                                placeholder="Subject "
                            />
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <label>Your Message</label>
                            <textarea
                                [ngClass]="{
                                    error:
                                        !formValid &&
                                        !form.get('message')?.value
                                }"
                                formControlName="message"
                                name="message"
                                class="form-control"
                                id="message"
                                cols="30"
                                rows="6"
                                required
                                placeholder="Write your message"
                            ></textarea>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="form-check">
                            <div class="form-group">
                                <div class="form-check">
                                    <input
                                        name="gridCheck"
                                        value="I agree to the terms and privacy policy."
                                        class="form-check-input"
                                        type="checkbox"
                                        id="gridCheck"
                                        required
                                    />
                                    <label
                                        class="form-check-label"
                                        for="gridCheck"
                                    >
                                        I agree to the
                                        <a>Terms & Conditions</a>
                                        and
                                        <a routerLink="/privacy-policy"
                                            >Privacy Policy</a
                                        >
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <button
                            type="button"
                            class="default-btn"
                            (click)="onSubmit()"
                        >
                            Send Message
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
