<div
    class="stake-area pt-120"
    [ngClass]="{'pt-0': router.url === '/index-2' || router.url === '/index-5' || router.url === '/dex-offering' || router.url === '/land-selling-platform' || router.url === '/about-us' || router.url === '/blog'}"
>
    <div class="container">
        <div class="stake-bg">
            <div class="row align-items-end">
                <div class="col-lg-8 col-md-12">
                    <div class="stake-content">
                        <span class="top-title">Contact Us</span>
                        <h2>Contacts info</h2>
                        <p>Address: 50 Long Acre,London WC2E 9JR</p>
                        <p>Phone: +44(208) 886 9222</p>
                        <p>Email: admin@adplmeta.com</p>
                        <a routerLink="/contact-us" class="default-btn btn-active">
                            Get in touch
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="stake-image">
                        <img src="assets/images/stake-img.png" alt="stake-image">
                    </div>
                </div>
            </div>
            <img src="assets/images/page-star.png" class="page-star" alt="page-star">
        </div>
    </div>
    <img
        src="assets/images/take-shape.png"
        class="take-shape"
        alt="take-shape"
        [ngClass]="{'d-none': router.url === '/index-2' || router.url === '/index-3' || router.url === '/index-4' || router.url === '/index-5' || router.url === '/dex-offering' || router.url === '/gaming-metaverse' || router.url === '/nft-centric-metaverse' || router.url === '/land-selling-platform' || router.url === '/about-us' || router.url === '/features' || router.url === '/blog'}"
    >
</div>
