<div id="ecosystem" class="ecosystem-area ptb-120" style="background-image: url(assets/images/ecosystem-bg-shape.png);">
    <div class="container">
        <div class="section-title">
            <span class="top-title">ECOSYSTEM</span>
            <h2>Our Best Ecosystem</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="ecosystem-tabs">
                    <ngx-tabset>
                        <ngx-tab tabTitle="Mave Launchpad">
                            <div class="ecosystem-content">
                                <h2>Mave Launchpad</h2>
                                <p>NFT allows artists to exhibit their artworks and reach millions of art lovers in all countries around the world. Get started now by creating nft artworks and maximizing your profits!</p>
                                <p>The Metaverse is the next generation of the internet. As one of its earliest explorers, you will help fuel its expansion and growth.</p>
                                <a routerLink="/projects" class="default-btn btn-active">Explore More</a>
                            </div>
                        </ngx-tab>
                        <ngx-tab tabTitle="NFT Marketplace">
                            <div class="ecosystem-content">
                                <h2>NFT Marketplace</h2>
                                <p>NFT allows artists to exhibit their artworks and reach millions of art lovers in all countries around the world. Get started now by creating NFT artworks and maximizing your profits!</p>
                                <p>The Metaverse is the next generation of the internet. As one of its earliest explorers, you will help fuel its expansion and growth.</p>
                                <a routerLink="/projects" class="default-btn btn-active">Explore More</a>
                            </div>
                        </ngx-tab>
                        <ngx-tab tabTitle="Mave Dex">
                            <div class="ecosystem-content">
                                <h2>Mave Dex</h2>
                                <p>NFT allows artists to exhibit their artworks and reach millions of art lovers in all countries around the world. Get started now by creating NFT artworks and maximizing your profits!</p>
                                <p>The Metaverse is the next generation of the internet. As one of its earliest explorers, you will help fuel its expansion and growth.</p>
                                <a routerLink="/projects" class="default-btn btn-active">Explore More</a>
                            </div>
                        </ngx-tab>
                    </ngx-tabset>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="ecosystem-image">
                    <img src="assets/images/ecosystem-img.png" alt="ecosystem-image">
                    <img src="assets/images/ecosystem.gif" class="ecosystem-gif" alt="ecosystem-gif">
                </div>
            </div>
        </div>
    </div>
</div>