<div id="article" class="blog-area pt-120 pb-90">
    <div class="container">
        <div class="section-title">
            <span class="top-title">EVENTS</span>
            <h2>Upcomming Events</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="single-blog">
                    <img src="assets/images/blog/blog-1.gif" alt="blog-image" />

                    <div class="blog-content">
                        <span>28-29 SEP, 2022</span>
                        <h3>WORLD ECOMMERCE FORUM ISTANBUL</h3>
                        <button (click)="Click('https://worldef.net/etkinlikler/istanbul/')" class="read-more">
                            READ MORE
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-blog">
                    <img src="assets/images/blog/blog-2.jpg" alt="blog-image" />

                    <div class="blog-content">
                        <span>15-16 MAR, 2023</span>
                        <h3>THE BUSINESS INNOVATION EXPO</h3>
                        <button (click)="Click('https://www.excel.london/visitor/whats-on/the-business-innovation-expo-2023')" class="read-more">
                            READ MORE
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-blog">
                    <img src="assets/images/blog/blog-3.jpg" alt="blog-image" />

                    <div class="blog-content">
                        <span>28-29 SEP, 2022</span>
                        <h3>THE COMMUNICATION TECHNOLOGY EXPO</h3>
                        <button (click)="Click('https://www.excel.london/visitor/whats-on/the-communication-technology-expo-2023')" class="read-more">
                            READ MORE
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
